
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Testlayout.cshtml";
}

<div class="contact">
	<div class="wrap">
						<div class="contact-top">
						<h3>İletişim Bilgileri</h3>
						</div>
					<div class="form">
	                	<form class="cmxform" id="contactForm" method="post">
		                <div>
							<input type="text" class="textbox" value="Adınız:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
						</div>
						<div>
							<input type="text" class="textbox" value="Mail Adresiniz:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
						</div>
						<div>
							<input type="text" class="textbox" value="Telefon Numazanız:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}">
						</div>
		               <div>
						  	<p><span class="read">Gönder</span></p>
					   </div>
	              </form>
           	 </div>
           	 	<div class="form1">
           	 				<div>
				<textarea value="Mesajınız:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Mesajınız:</textarea>
			</div>
		    </div>
		    <div class="clear"></div>
            <div class="contact-bottom">
                <div class="contact-left">
                    <div class="contact-add">
                        <h3>Adres 1</h3>
                        <p>Telefon:1-22-5555</p>
                        <p>Fax:1-22-5555</p>
                        <p>Mail:<a href="mailto:signup@gmail.com">signup@mail.com</a></p>
                    </div>
                    <div class="contact-add">
                        <h3>Adres 2</h3>
                        <p>Telefon:505 111 1881</p>
                        <p>Fax:1-22-5555</p>
                        <p>Mail:<a href="mailto:signup@gmail.com">signup@mail.com</a></p>
                    </div>
                </div>
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1xnYesFPgFVdS81j-qQ9lQSc3tfZn9mc&ehbc=2E312F&noprof=1" width="640" height="300"></iframe>
                </div>

                <div class="clear"></div>
            </div>
			 <div class="clear"></div>
		</div>
</div>